header {
  padding: 92px 24px 92px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  font-size: 18px;
  font-weight: 400;
}
.header__menu {
  grid-column-start: 1;
  grid-column-end: 3;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 31px;
  padding: 40px 0 40px 22px;
  list-style: circle;
  letter-spacing: 0.18px;
  white-space: nowrap;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header__logo {
  padding-left: 5px;
  padding-top: 2px;
  justify-self: center;
  align-self: start;
  height: 100%;
}
.header__address {
  display: flex;
  grid-column-start: 4;
  grid-column-end: 6;
  justify-self: end;
  padding: 2px 63px 2px;
}
.address {
  line-height: 135%;
  font-style: normal;
  text-underline-position: under;
  letter-spacing: 0.18px;
}
.address p {
  letter-spacing: normal;
}
.cover {
  /* width: 1100px;
    height: 757px;*/
  position: relative;
  min-height: 757px;
  padding: 161px 50px 51px;
  background-repeat: no-repeat;
  background-image: url(../images/cover1.jpg);
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}
.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding-top: 10px;
}
.no-letter-spacing {
  letter-spacing: 30px;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.aligned-text {
  display: block;
  line-height: 100%;
}
.aligned-text_center {
  text-align: center;
  padding-top: 27px;
}
.aligned-text_right {
  text-align: end;
  padding-left: 583px;
  padding-top: 20px;
}
.cover__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 28px;
  padding-top: 135px;
  justify-content: space-between;
}
.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 127.273%;
  text-transform: uppercase;
  word-spacing: 18.5px;
  display: inline-block;
  padding-top: 12px;
}
.bet-button {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
}
.lots {
  padding: 179px 24px 146px;
}
.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.lots__card-list {
  padding-top: 25px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
  list-style-type: none;
}
.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}
.card {
  height: 100%;
  position: relative;
  z-index: -2;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_type_film {
  background-repeat: no-repeat;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}
.card_type_book {
  background-repeat: no-repeat;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}
.card_type_picture {
  background-repeat: no-repeat;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}
.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
.card__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
.about {
  padding: 0 24px 180px;
  display: grid;
  grid-template-columns: 334px 2fr;
  gap: 25px;
}
.about__column {
  justify-self: center;
  padding-top: 35px;
}
.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 128px;
  display: flex;
  justify-content: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  padding: auto;
  align-self: center;
}
.about__title {
  padding-top: 101px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.2px;
}
.footer {
  padding: 0 50px 88px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu {
  padding-left: 39px;
  padding-top: 2px;
}
.footer__menu-list {
  text-align: center;
}
.footer__menu-list-item {
  list-style-type: none;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 48px;
}
.footer__social-list-item {
  list-style-type: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
